################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.[Cc]ache
.vs/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
